#game {
    width: 100%;
    height: 500px;
    background-color: orange;
}

header {
    display: flex;
    justify-content: space-around;
}

button {
    height: 100px;
    width: 100px;
}

.cauldron {
    background-color: black;
    width: 100px;
    height: 100px;
}

.bubble {
    
    width: 80px;
    height: 80px;
    
}
.centelleo{
    animation: centelleo 0.5s infinite alternate, cambioColor 2s infinite;
}
@keyframes centelleo {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}
@keyframes cambioColor {
    0% {
        background-color: yellow;
    }
    25% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: yellow;
    }
}
#boosterActivated{
}
.boosterActivated {
    margin-left: 50%;
    margin-top:5%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: red;
    color: white;
    display: inline-block;
    animation: parpadeo 1s infinite;
}
@keyframes parpadeo {
    0%, 49% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}